 * {
 	box-sizing: border-box;
 }

@font-face{
    font-family: myfirstfont;
    src: url('MostraOneRegular.ttf');
}

@font-face{
    font-family: circular;
    src: url('circular.ttf');
}

 html, body{
 	background-color: #F7F5F2;
 	margin: 0;
 	font-family: Helvetica, Arial, sans-serif;
 }

 ol{
 	padding: 0px;
 }


/* nav info */
.nav-info{
 	height: 70px;
 	background-color: white;
 	position: relative;
 }
 .nav-info ul li{
 	display: inline-block;
 	color: black;
 	/*font-size: 16px;*/
}

 .nav-info ul li a {
 	color: black;
 	/*font-size: 16px;*/
 }

.material-icons{
    
    padding-right: 20px;
}

.align{
    vertical-align: top;
    margin-top: 25px;
}

/*side menu property*/
.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff5a5f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-menu a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.side-menu a:hover, .offcanvas a:focus{
    color: black;
}
.side-menu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

/*side menu property ends*/

/*search bar*/
input[type=text]{
    width: 50px;
    height: 30px;
    border-color: transparent;    
    
    background-color: transparent;
    background-image: url('searchicon.png');
    
    background-repeat: no-repeat;
    padding: 12px 20px 12px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 169px;
}

 .logo-img{
    width: 150px;
    margin-left: 44%;
    position: absolute;
    bottom: 8px;
 }

.nav-info-right{
 	position: absolute;
 	top: 0;
 	right: 40px;
    font-size: 15px;
 }
.nav-info-right ul{
 	margin: 25px 0px;
 }
.nav-info-right ul li+li:before{
 	padding: 20px;
 	content: "|";
 }

.nav-info-right a{
    position: relative;
    text-decoration: none;
}
.nav-info-right a:hover::after {  
    content: "";
    position: absolute;
    bottom: 0;
    height: 5px;
    left: 0;
    right: 0;
    background-color: #ff5a5f;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
}

/* modal */
.modal-dialog{
    width: 420px;
}

.modal-content{
    height: 520px;
}

 .modal-title{
    padding-bottom: 30px; 
 }

 .forgot{
    float: right;
 }

 .Modalbtn{
    padding: 8px 161px;
 }

 .New{
    float: left;
    margin-left: 30%;
 }

 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
 	min-width: 100%;
 	margin: 0;

 }
 .carousel-inner{
 	position: relative;
 }
 .cover{
    width: 100%;
    height: 100%;
    background-color: rgba(64,64,64,.2);
    position: absolute;
    top: 0;
    left: 0;
}
/* img/JapaneseCuteFood.jpg info */
 .jcf-title-l{
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family:  Helvetica, Arial, sans-serif;
 }
.jcf-title-m{
    position: absolute;
    top: 49%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 23px;
    color: white;
    font-family:  Helvetica, Arial, sans-serif;
}
.jcf-button{
    position: absolute;
    top: 68%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 17px;
    color: white;
    background-color: #ff5a5f;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-family:  Helvetica, Arial, sans-serif;
}
.jcf-button:hover{
    background-color:#f78184;
}
 /* love-lock */
 .ll-title-l{
    position: absolute;
    top: 34%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: 500;
    font-family:  Helvetica, Arial, sans-serif;
 }
.ll-title-m{
    position: absolute;
    top: 48%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 24px;
    color: white;
    font-family:   Helvetica, Arial, sans-serif;
}
.ll-button{
    position: absolute;
    top: 68%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 17px;
    color: white;
    background-color: #ff5a5f;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-family:  Helvetica, Arial, sans-serif;
}
.ll-button:hover{
    background-color:#f78184;
}
/* 100 kiss */
 .ks-title-l{
    position: absolute;
    top: 40%;
    left: 38%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: 500;
    font-family:   Helvetica, Arial, sans-serif;
 }
.ks-title-m{
    position: absolute;
    top: 52%;
    left: 33%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 22px;
    color: white;
    font-family:   Helvetica, Arial, sans-serif;
}
.ks-button{
    position: absolute;
    top: 71%;
    left: 25%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 17px;
    color: white;
    background-color: #ff5a5f;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-family:   Helvetica, Arial, sans-serif;
}
.ks-button:hover{
    background-color:#f78184;
}
/* pokemon */
 .pok-title-l{
    position: absolute;
    top: 34%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    font-weight: 500;
    font-family:   Helvetica, Arial, sans-serif;
 }
.pok-title-m{
    position: absolute;
    top: 48%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 22px;
    color: white;
    font-family:   Helvetica, Arial, sans-serif;
}
.pok-button{
    position: absolute;
    top: 68%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 17px;
    color: white;
    background-color: #ff5a5f;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-family:   Helvetica, Arial, sans-serif;
}
.pok-button:hover{
    background-color:#f78184;
}
.banner-info-align-center {
    text-align: center;
}
 

 /* homepage project part */
 .homepage_container{
 	margin-left: 9%;
 	margin-right: 9%;
 }

 .thumbnail{
 	padding: 0;
 	width: 29%;
 	margin: 0px 2%;
 	display: inline-block;
 }

 .projectimg{
    min-width: 100%;
 }
.project-editer-photo{
    float: left;
    width: 65px;
    transform: translate(0%, -75%);

}
 .part-topic{
 	/*background-color: white;
 	height: 70px;
 	margin-left: 2%;
    margin-right: 2%;
    margin-top: 6%;
    margin-bottom: 1%;
 	position: relative;*/
    text-align: center;
    display: table;
    width: 100%;
    height: 140px;
    margin-top: 30px;
 }

 .part-topic > div{
    width: 33.3333333333%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
 }

 .line{
    background-color: #9a9999;
    height: 1px;
    position: relative;  
 }

 .more{
    position: absolute;
    right: 0;
    bottom: -6px;
    font-size: 14px;
    background-color: #F7F5F2;
    padding-left: 23px;
    font-family: myfirstfont;
 }

 .more a{
    color: #9a9999;
    text-decoration: none;
 }
 .more a:hover{
    font-size: 16px;
 }
.theme{
    font-size: 24px;
    font-family: myfirstfont;
 }

/* .explore-btn{
 	background-color: white;
 	color: black;
 	padding: 8px;
 	border-radius: 5px;
 	border-color: black;
 	border-width: thin;
 	float: right;
 	margin-top: 10px;
 	transition: background-color 	.5s cubic-bezier(0.4, 0, 1, 1);
 }

 .explore-btn:hover{
 	background-color: teal;
 }*/

/* traveler info */
.targetDiv{
    position: relative;
}
.tra-name{
    position: absolute;
    top: 20%;
    left: 44%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.tra-btn{
    position: absolute;
    top: 22%;
    left: 88%;
    margin: 0;
    transform: translate(-50%, -60%);
    font-size: 14px;
    color: white;
    background-color: #ff5a5f;
    padding: 5px 10px;
    border-color: #737373;
    border-radius: 5px;
    border:0;
}
.salt-bottle{
    height: 15px;
}
.tra-level-img{
    position: absolute;
    top: 30%;
    left: 40%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.tra-level-info{
    position: absolute;
    top: 31%;
    left: 49%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.tra-intro{
    position: absolute;
    top: 51%;
    left: 65%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 500px;
}
.tra-hist{
    position: absolute;
    top: 86%;
    left: 65%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding-top: 7px;
    width: 500px;
}
.num-green{
    font-size: 24px;
    color: green;
}
.border-top{
    border-top: 0.1rem solid #737373;
}
/* traveler */
.travelers ul li{
    border-left: 3px solid transparent;
    line-height: 25px;
    margin-left: -1px;
    padding-left: 20px;
}

.travelerlink{
    padding: 10px;
    font-size: 17px;
    font-weight: lighter;
}

.disabled{
    color: black;
    position: relative;
}

.disabled:hover{
    color: #ff5a5f;
}

.disabled:hover::after {  
    content: "";
    position: absolute;
    bottom: 0;
    height: 17px;
    width: 3px;
    left: 0;
    right: 0;
    background-color: #ff5a5f;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
}

.border-left{
    border-left: 0.1rem solid #DCDEDD;
}

/* successful slide*/
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
  
}

.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel > .left{
  width: 130px;
  margin-left: 15px;
}

.multi-item-carousel > .right {
  
width: 130px;
margin-right: 55px;


}
.footer_container{
    margin-top: 100px;
    background-image: url('footer.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    background-position-y: -234px;
    background-position-x: 0px;
    -webkit-filter: grayscale(20%);
}

.footer-logo{
    width: 30%;
    margin-left: 274px;
}

.footerbtn-pos{
    margin-left: 254px;
    margin-top: 30px;
}

.footerbtn-size{
    height: 73px;
    width: 300px;
    background-color: gray;
    font-size: 50px;
}
.footerbtn-right-size{
    background-color: gray;
    height: 73px;
    width: 50px;
}
.footer-left a{
    color: white;
}

.top{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-mid ul{
    margin-top: 150px;
}

.footer-right ul{
    margin-top: 150px;
}

.others{
    color: white;
    font-size: 18px;
}

.caret{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid;
}

.index-nav {
    display: none;
    position: fixed;
    width: 48px;
    z-index: 90;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.index-nav .nav-list {
    position: relative;
    z-index: 233;
    background-color: #f6f9fa;
    border: 1px solid #e5e9ef;
    overflow: hidden;
    border-radius: 4px;
}

.index-nav .n-i:first-child {
    border-top: 0;
}

.index-nav .n-i {
    cursor: pointer;
}

.index-nav .n-i .name {
    height: 32px;
    line-height: 32px;
    transition: .1s linear;
    transition-property: background-color,color;
}

